html {
  font-family: "Raleway";
  background-color: rgb(229, 224, 233);
  text-align: center;
}
h2 {
  margin-top: 30px;
  margin-bottom: 20px;
}

ul {
  padding: 0;
}

li {
  list-style: none;
  padding-bottom: 10px;
}
li a:hover {
  font-size: 22px;
  color: rgb(139, 0, 65);
  font-weight: bold;
}
li a {
  text-decoration: none;
  color: black;
  cursor: pointer;
  transition: 0.4s;
  font-size: 20px;
}

span {
  margin-left: 10px;
}
