.features {
  width: 100%;
  padding: 100px 0;
}
.features-title {
  font-family: "Raleway";
  color: #2d3033;
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 100px;
}
.features-row {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  flex-direction: row;
}

.features-row-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin: 50px 10px 0;
  width: 20%;
}
.features-row-item-title h3 {
  text-transform: uppercase;
  font-family: "Raleway";
  font-size: 0.875rem;
  text-align: center;
  color: #2d3033;
  margin: 34px 0 25px;
}

.features-row-item-discription {
  font-family: "Raleway";
  font-size: 0.875rem;
  text-align: center;
  color: #6c7279;
}

.features-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  height: 60px;
}

.features-icon img {
  height: 100%;
}
