.about {
  width: 100%;
  padding: 6.25rem 0;
}

.about-title h2 {
  font-style: normal;
  font-weight: normal;
  font-size: 2.25rem;
  color: #212121;
  text-align: center;
}

.about-discription {
  width: 60%;
}
.about-discription p {
  font-size: 1.1rem;
  margin-top: 1.5625rem;
  margin-right: 1.25rem;
}

.about-subtitle h3 {
  font-size: 1.1rem;
  margin-top: 0.625rem;
  color: #868788;
  text-align: center;
  margin-bottom: 2.5rem;
}

.about-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.about-img {
  width: 40%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  width: 100%;
}
