.features {
  width: 100%;
  padding: 6.25rem 0;
}
.line {
  max-width: 4rem;
  height: 2px;
  border: 1px solid rgb(176, 64, 23);
  background-color: rgb(176, 64, 23);
  margin: 1.875rem auto;
}

.features-title h2 {
  font-family: "Raleway";
  font-style: normal;
  font-weight: normal;
  font-size: 2.2rem;
  color: #212121;
  text-align: center;
}

.features-subtitle h3 {
  font-family: "Raleway";
  font-size: 1.1rem;
  margin-top: 0.625rem;
  color: #868788;
  text-align: center;
}

.features-row {
  display: flex;

  justify-content: space-between;
  align-items: baseline;
  margin-top: 5rem;
}

.features-row-item {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  max-width: 21.875rem;
  width: 25%;
  margin-left: 0.625rem;
  margin-right: 0.625rem;
}

.features-row-item-discription {
  font-family: "Raleway";
  font-size: 1rem;
  color: #000000;
  margin-top: 1.875rem;
}

.features-icon {
  border: 1px solid rgb(176, 64, 23);
  width: 4.375rem;
  height: 4.375rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.features-icon i {
  color: rgb(214, 124, 91);
  font-family: "Font Awesome 5 Free";
  font-size: 1.875rem;
  text-shadow: rgb(63, 62, 62) 2px 2px 2px;
}
