.awesome {
  width: 100%;
  padding: 100px 0;
}

.awesome-title h2 {
  font-family: "Raleway";
  font-style: normal;
  font-weight: normal;
  font-size: 2.25rem;
  line-height: 42px;
  color: #212121;
  text-align: center;
}

.awesome-line {
  max-width: 64px;
  height: 2px;
  border: 1px solid #d98943;
  background-color: #d98943;
  margin: 30px auto;
}

.awesome-subtitle h3 {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 0.875rem;
  line-height: 19px;

  color: #868788;
  text-align: center;
}

.awesome-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 60px;
}

.awesome-row-item {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  max-width: 350px;
}

.awesome-img {
  border: 1px solid #d98943;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.awesome-img i {
  color: #f38627;
  font-family: "Font Awesome 5 Free";
  font-size: 30px;
}

.awesome-img i {
  color: #f38627;
  font-family: "Font Awesome 5 Free";
  font-size: 25px;
}

.awesome-row-item-title h3 {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: bold;
  font-size: 1.25rem;
  line-height: 27px;
  margin-top: 60px;
  color: #333333;
}

.awesome-row-item-discription p {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 0.875rem;
  line-height: 19px;
  width: 100%;
  color: #000000;
  margin-top: 60px;
}
