.customers {
  width: 100%;
  padding: 100px 0;
}

.customers-title h2 {
  font-family: "Raleway";
  font-style: normal;
  font-weight: normal;
  font-size: 2.25rem;
  line-height: 42px;

  color: #212121;
  text-align: center;
}

.customers-line {
  max-width: 64px;
  height: 2px;
  border: 1px solid #d98943;
  background-color: #d98943;
  margin: 34px auto;
}

.customers-subtitle h3 {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 0.875rem;
  line-height: 19px;

  color: #868788;
  text-align: center;
}

.customers-row {
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: row;
}

.customers-row-item {
  text-align: center;
  max-width: 298px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-self: flex-end;
}

.customers-discription h3 {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 0.875rem;
  line-height: 19px;
  text-align: center;
}

.customers-discription {
  display: flex;
  align-items: center;
  padding: 9px 22px 6px 23px;
  color: #86878b;
  background-color: #e2e2e2;
  border-radius: 7px;
  position: relative;
  justify-content: space-between;
}

.customers-discription::after {
  content: "";
  width: 0;
  height: 0;
  border-top: 17px solid #e2e2e2;
  border-left: 17px solid transparent;
  border-right: 17px solid transparent;
  position: absolute;
  top: 100%;
  left: 47px;
}

.customers-card {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  margin-top: 30px;
}

.customers-card-jpg {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  width: 100%;
}

.customers-name h4 {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: bold;
  font-size: 1.25rem;
  line-height: 27px;
  text-align: right;
  color: #333333;
  margin-bottom: 12px;
}

.customers-post h5 {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 0.875rem;
  line-height: 19px;
  color: #86878b;
  text-align: right;
}
