.works {
  width: 100%;
  padding: 100px 0;
}

.product-title {
  font-family: "Helvetica Neue";
  color: #2d3033;
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 100px;
}

.works-row {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  margin-bottom: 30px;
  transition: 0.7s;
}

.works-row-item {
  width: 45%;
  height: 350px;
  overflow: hidden;
  display: flex;
  position: relative;
  transition: 0.5s ease-out;
  flex-direction: column;
}
.works-title {
  color: #2d3033;
  font-size: 1.2rem;
  font-family: "Helvetica Neue";
  width: 600px;
}

.works-discription {
  color: #2d3033;
  font-size: 1.2rem;
  font-family: "Helvetica Neue";
  margin-top: 30px;
  line-height: 1.7rem;
}
.works-row-item-bg h3 {
  margin-top: 157px;
  font-size: 0.875rem;
  font-family: "Helvetica Neue";
  color: #f5f5f5;
  text-align: center;
}
.works-img {
  width: 100%;
  height: 100%;
}
.works-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.works-row-item-bg {
  opacity: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  transition: opacity 0.7s ease-out;
}
.works-row-item.works-row-item-bg {
  transition: 0.7s;
}

.works-row-item:hover .works-row-item-bg {
  opacity: 1;
  background-color: rgba(255, 255, 255, 0.7);
  transition: 0.7s;
}

.company-logos {
  height: 100%;
}

.logos-container {
  display: flex;
  gap: 15px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  align-content: center;
  height: 100%;
}

.logo {
  max-width: 150px;
  height: auto;
}

.partners-logo-bg {
  background-color: red;
  }
  .partners-logo-bg-blue {
      background-color: #007aff;
  }
  .partners-logo-bg-grey {
      background-color: #333;
  
  }